:root{
    --page-main-color: rgb(28, 39, 52);
    --second-text-color: rgb(0, 200, 130);
}

html, body{
    height: 100%;
}

*{
    font-family: sans-serif; 
}

body{
    margin: 0;
    background-color: var(--page-main-color);
    display: flex;
    flex-direction: column;
}

hr {
    display: flex;
    width:99%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-width: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
    

}

.introContainer {
    margin-left: 1%; 
    color:white;
    font-size: 2em;
}

.introContainer p , .inputContainer p{
    font-size: 1.5rem;
}
.secondText{
    color: var(--second-text-color);
}

.generateButton , .passwordContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:max-content; 
    border-style: none;
}



.generateButton{
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 5px;
    font-size: 2em;
    color:var(--page-main-color);
    
}

.generateButton:hover{
    color: white;
    background-color: var(--second-text-color);
}


.passwordContainer{
    background-color: var(--second-text-color);
    border-radius: 5px;
    font-size: 3em;
    margin: 1%;
    border-style: solid;
    border-color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    .passwordContainer {
        width: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .passwordContainer {
        width: 10%;
    }
}






.passwordContainer:hover{
    color:white;

}

#passwordsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    color:white;
    align-items: center;
}

input, .generateButton{
    display: flex;
    text-align: center;
    font-size: 2rem;
    margin-left: 15px;
}